*{
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1655057011043-158c48f3809d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
.calc{
    width: 1072px;
    height: 650px;
    border: 2px solid #efae02;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: 100px;
}
.tabs{
    width: 100%;
    padding-top: 26px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}
.tab-left , .tab-right{
    width: 200px;
    height: 70px;
    border-radius: 0 15px 0 0;
    background-color:rgb(70, 75, 73);
    margin-right: 5px;
    color: #cecece;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}
.tab-left{
    border-radius:15px 0 0 0;
}
.active{
    background: orange;
    color: rgba(0, 0, 0, 0.753);
    position: relative;
    
}
.active::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: orange;
    left: 0;
    bottom: -6px;
}

.counter{
    width: 132px;
    height: 60px;
    border: 3px solid rgba(239,174,2,0.6);
    background-color: transparent;
    text-align: center;
    color: orange;
    font-size: 48px;
    font-weight: 700;

}

.blocks{
    width: 65%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-title{
    position: relative;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.block-title::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: orange;
    left: 0;
    bottom: -6px;
    width: 100%;
}

#pages-block{
    display: none;
}
.addiction{
    font-size: 30px;
    font-weight: 700;
    color: orange;
}
.addiction-title{
    text-align: center;
}
.addiction-block{
    text-align: left;
}
input[type="checkbox"]{
    width: 24px;
    height: 24px;
    opacity: 0.5;
}
.total{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
.total-count{
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: none;
    color: orange;
    font-size: 56px;
    font-weight: 700;
    text-align: right;
}